@media (max-width: 30em){
    html{
        font-size: 52%;
        text-align: center;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .hero-reviews{
        display: block;
        margin-left: 0;

    }
    .hero-review{
        margin-left: 0;
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 1.2rem;
    }
    .hero p{
        margin-bottom: 3.2rem;
    }
    .testimonial{
        margin-bottom: 6.4rem;
    }
    body{
        display: block;
        height: auto;
    }
    main{
        padding: 3.2rem 1.6rem;
    }
}